.wrap{
    padding:    0px;
    position:   relative;
    overflow-y: scroll;
    margin-top: 24px;
    border: 3px solid #b3b3b3;
    border-radius: 2px;
    max-height: 500px;
}
.mainDay{
    height:     1440px;
    width:      100%;
    border-collapse:collapse;
}

.hour{
    border-style:   solid;
    border-width:   1px;
    border-color:   #ddd;
    border-left:    none;
    border-right:   none;
    text-align:     left;
    vertical-align: top;
}
.hour td{
    padding-left:   2%;
}

.busyh{
    background:     rgba(0,0,0,.5);
    position:       absolute;
    margin-left:    4%;
    margin-right:   4%;
    border-radius:  10px;
    width:          92%;
    padding-left:   2%;
    padding-right:  2%;
    color:          #fff;
}
