@charset "UTF-8";
/* CSS Document */
	*{
		margin: 0px;
		padding: 0px;
	}
      html, body, #map_canvas {
        margin: 0;
        padding: 0;        
		height: 100%;
		overflow:hidden;
      }
#welkom {
	padding: 10px;
	height: 85px;
	width: 200px;
	position: absolute;
	z-index: 99;
	bottom: 20px;
	right: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #FFF;
	background-color: rgba(77, 77, 77, 0.8);  
}
 @media screen and (max-width: 480px) {
  #welkom {
	display: none;
  }
  }
.close {
position: absolute;
top: 0px;
right: 0px;	
}
body {
	background-color: #003;
}
    #header {
	background-color: #036;
	height: 20px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: center;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 30px;
}
  @media screen and (max-width: 480px) {
  #header {
	background-image: none;
	font-size: 12px;
  }
  }
  @media screen and (max-width: 480px) {
  p {
	font-size: 12px;
  }
  }
    h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
    a:link {
	color: #930;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #930;
}
.terug{
	
}
  @media screen and (max-width: 480px) {
  .terug {
    display: none;
  }
  }
  .terugklein{
	display: none;
}
  @media screen and (max-width: 480px) {
  .terugklein {
	display: block;
  }
  }
a:hover {
	text-decoration: none;
	color: #960;
}
a:active {
	text-decoration: none;
}
    .center {
	text-align: center;
	color: #FFF;
}
    td {
	padding-right: 10px;
}
    h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
    h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:bold;
}
    h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
    #map_canvas {
	background-image: url(sorry.png);
	background-repeat: no-repeat;
	background-position: center 48%;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  #map_canvas {
	  background-image: url(sorry2.png);
	  background-size: 100%;
	  
  }

}
